:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-color: 58, 12, 163;
  --secondary-color: 67, 97, 238;
  --third-color: 255, 255, 255;
  --fourth-color: 230, 230, 230;

  --text-primary: 11, 9, 10;
  --text-secondary: 43, 43, 43;
  --text-third: 128, 128, 128;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins';
}

a {
  color: inherit;
  text-decoration: none;
}
